

<div class="card mx-auto text-center d-flex align-items-center h100 align-middle" style="width: 20rem;">
    <img class="card-img-top rounded-circle" src="http://via.placeholder.com/150x150" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{currentUser.username}}</h4>
      <p class="card-text">{{currentUser.email}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Phone: {{currentUser.phone}}</li>
      <li class="list-group-item">Country: {{currentUser.country}}</li>
      <div class="card-block">
        <a href="#" [routerLink]="['/profile', currentUser.username]" class="card-link btn btn-primary" role="button">Update profile</a>
      </div>
    </ul>
 
  </div>
